section.clients
  .container
    .clients__titile
      h2 Наши клиенты
      img.lazy.xs-hidden(data-src='img/client/wavy-line.png', alt='')

    .row.no-gutters
      .col-6.col-md-4.col-lg-3
        .clients__card
          img.lazy(data-src='img/client/1.png', alt='')
      .col-6.col-md-4.col-lg-3
        .clients__card
          img.lazy(data-src='img/client/2.png', alt='')
      .col-6.col-md-4.col-lg-3
        .clients__card
          img.lazy(data-src='img/client/3.png', alt='')
      .col-6.col-md-4.col-lg-3
        .clients__card
          img.lazy(data-src='img/client/4.png', alt='')


      .col-6.col-md-4.col-lg-3
        .clients__card
          img.lazy(data-src='img/client/5.png', alt='')
      .col-6.col-md-4.col-lg-3
        .clients__card
          img.lazy(data-src='img/client/6.png', alt='')
      .col-6.col-md-4.col-lg-3
        .clients__card
          img.lazy(data-src='img/client/7.png', alt='')
      .col-6.col-md-4.col-lg-3
        .clients__card
          img.lazy(data-src='img/client/8.png', alt='')


      .col-6.col-md-4.col-lg-3
        .clients__card
          img.lazy(data-src='img/client/9.png', alt='')
      .col-6.col-md-4.col-lg-3
        .clients__card
          img.lazy(data-src='img/client/10.png', alt='')
      .col-6.col-md-4.col-lg-3
        .clients__card
          img.lazy(data-src='img/client/11.png', alt='')
      .col-6.col-md-4.col-lg-3
        .clients__card
          img.lazy(data-src='img/client/12.png', alt='')