section.contacts
  .contacts-card
    h2.contacts-card__title-main.xs-visual
      | Контакты
    .contacts-card__address
      span.contacts-card__title
        | Адрес офиса
      .contact-card__text
        | г. Уфа, Проспект октября, 46
      span.contacts-card__title
        | Адрес склада
      .contacts-card__text
        | г.Уфа, ул. Майкопская, 65/2

    .contacts-card__phone
      span.contacts-card__title
        | Тел. отдела продаж:
      .contacts-card__text
        | 8 (347) 271-54-28
        br
        | 8 (937) 363-30-00

    .contacts-card__cta
      button.contacts-card__button.button Заказать звонок
    .contacts-card__mail
      span.contacts-card__title Е-mail
      .contacts-card__text
        | urals.karton@gmail.com

    img.contacts-card__ico.tel.xs-hidden(src='img/tel.png', alt='')
    img.contacts-card__ico.map.xs-hidden(src='img/map.png', alt='')
    img.contacts-card__ico.mail.xs-hidden(src='img/mail.png', alt='')

  .Ymap
    script(async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A95283b61b8ca5231cd81919ef87d22f3dc50810191333034eca58f9ba6d8ab8e&width=103%25&height=660&lang=ru_UA&scroll=false')