section.features
  .container
    .row.align-items-start
      .col
        div.features-accent
          p.features-accent__big
            | 5 лет
          p.features-accent__simple
            | На рынке изделий из гофрокартона

      //- features-accent
      .col-md-6.col-xl-4
        div.features-accent
          p.features-accent__big
            | до 5 000 000 м<sup>2</sup>
          p.features-accent__simple
            | Ежемесячный объем производства гофрокартона

      //- features-accent
      .col
        .features-accent
          p.features-accent__big
            | 4 000 м<sup>2</sup>
          p.features-accent__simple
            | Площадь склада

    .row
      //- features-card-1
      .col-xl-4.col-md-6
        div.features-card.wow.fadeInUp(data-wow-offset="0" data-wow-delay='0.1s')
          .row.align-items-center
            .col-3
              div.features-card__pic
                img.lazy(data-src='img/features/production.png', alt='production')

            .col-9
              h3.features-card__title
                | Собственное производство
              p.features-card__descr
                | 4 технологические линии способны выполнить любой заказ любой сложности

      //- features-card-2
      .col-xl-4.col-md-6
        div.features-card.wow.fadeInUp(data-wow-delay='0.2s')
          .row.align-items-center
            .col-3
              div.features-card__pic
                img.lazy(data-src='img/features/free_samples.png', alt='free_samples')

            .col-9
              h3.features-card__title
                | Бесплатные образцы
              p.features-card__descr
                | Бесплатно делаем образцы гофроупаковки - это помогает заранее увидеть упаковку

      //- features-card-3
      .col-xl-4.col-md-6
        div.features-card.wow.fadeInUp(data-wow-delay='0.3s')
          .row.align-items-center
            .col-3
              div.features-card__pic
                img.lazy(data-src='img/features/stable_quality.png', alt='stable_quality')

            .col-9
              h3.features-card__title
                | Стабильное качество
              p.features-card__descr
                | Собственная лаборатория контролирует качество на каждом этапе производства


      //- features-card-4
      .col-xl-4.col-md-6
        div.features-card.wow.fadeInUp(data-wow-delay='0.4s')
          .row.align-items-center
            .col-3
              div.features-card__pic
                img.lazy(data-src='img/features/insurance_stock.png', alt='insurance_stock')

            .col-9
              h3.features-card__title
                | Страховой запас
              p.features-card__descr
                | Можем хранить запас гофропродукции на своих складах и поставлять его партиями

      //- features-card-5
      .col-xl-4.col-md-6
        div.features-card.wow.fadeInUp(data-wow-delay='0.5s')
          .row.align-items-center
            .col-3
              div.features-card__pic
                img.lazy(data-src='img/features/flexo_printing.png', alt='flexo_printing')

            .col-9
              h3.features-card__title
                | Флексопечать
              p.features-card__descr
                | Возможно нанесение вашего логотипа, текста или манипуляционных знаков

      //- features-card-6
      .col-xl-4.col-md-6
        div.features-card.wow.fadeInUp(data-wow-delay='0.6s')
          .row.align-items-center
            .col-3
              div.features-card__pic
                img.lazy(data-src='img/features/hydrophobic_additives.png',alt='hydrophobic_additives')

            .col-9
              h3.features-card__title
                | Гидрофобные добавки
              p.features-card__descr
                | На производстве реализована технология, которая позволяет гофрокартону стать прочнее

