section.feedback
  .container
    .feedback__title
      h2 Отзывы о сотрудничестве
      img.lazy.xs-hidden(data-src='img/client/wavy-line.png', alt='')

    .feedback-slider
      .feedback__scans
        .feedback__scan
          a(data-fancybox='gallery', href='img/feedback/big/1.jpg')
            img(src='img/feedback/1.jpg', alt='')
        .feedback__scan
          a(data-fancybox='gallery', href='img/feedback/big/2.jpg')
            img(src='img/feedback/2.jpg', alt='')
        .feedback__scan
          a(data-fancybox='gallery', href='img/feedback/big/3.jpg')
            img(src='img/feedback/3.jpg', alt='')
        .feedback__scan
          a(data-fancybox-trigger='gallery', href='img/feedback/big/1.jpg')
            img(src='img/feedback/1.jpg', alt='')
        .feedback__scan
          a(data-fancybox-trigger='gallery', href='img/feedback/big/2.jpg')
            img(src='img/feedback/2.jpg', alt='')
        .feedback__scan
          a(data-fancybox-trigger='gallery', href='img/feedback/big/3.jpg')
            img(src='img/feedback/3.jpg', alt='')

      button.feedback-slider__button.feedback-next
      button.feedback-slider__button.feedback-prev