header.header
	.container
		.row.align-items-center.justify-content-end.no-gutters
			.col-4.col-md-4
				div.header-logo

			.col-6.col-lg-5.col-md-4.col-sm-4
				div.header-contacts
					div.header-contacts__phone
						|8 (347)
						span.xs-hidden 271-54-28
						span.xs-visual.xs-header-phone--bold 271 54 28
					div.header-contacts__phone
						|8 (937)
						span.xs-hidden 363-30-00
						span.xs-visual.xs-header-phone--bold 363 30 00
			.col.col-md
				button.button.header-button
					img(src="img/icon-phone.png" alt="Телефон")
					span.xs-hidden
						| Заказать звонок