section.main
  .container
    .row.align-items-center
      .col-md-5
        div.main-fig.animated.bounceIn
          img(src='img/main/main-img2.png' alt='Картон')

      .col-md-12.col-lg-7
        div.main__text
          h1.main__text--title
            | Производство упаковки из гофрокартона
          div.main__text--subtitle
            | с доставкой по всей России

        div.main-form
          div.main-form__title
            | Получите индивидуальное предложение <br> на производство и поставку гофропродукции
            span.main-form__title--important
              | Образцы упаковки бесплатно!

          form(action='#')
            input.main-form__input(type='tel' placeholder='Введите номер телефона')
            button.button.button--big.main-form__button(type='submit')
              | Оставить заявку!

          small.main-form__note
            | *Минимальный заказ 500 шт