section.offer.lazy(data-src='img/offer/offer-bg.jpg')
  h2.offer-text__offer
    | Получите индивидуальное предложение
    span на производство и поставку изделий

  form.offer-form(action='#')
    div.offer-form__descr
      | Введите ваш номер телефона:
    input.offer-form__input(type='tel', placeholder='+7 (XX) XXX-XX-XX ')
    button.button.button--bigger.wow.tada.infinite Оставить заявку!

  div.offer-text__note
    | *Минимальный заказ 500шт