section.photos
  .container
    .row
      .col-md-5.order-md-2.p-0
        div.photos-description
          h2.photos-description__title
            | Производство
          div.photos-description__text
            p
              | Современное оборудование позволяет производить до 5 миллионов квадратных метров гофрокартона ежемесячно. Гофрокороба и лотки производятся по ГОСТу или чертежам заказчика.
            p
              | Досконально прорабатываем конструкции коробов и составы сырья, учитывая условия хранения, транспортировки и производства вашей продукции.
            p
              | Возможно нанесение цветной флексопечати на поверхность коробов.

      .col-md-7.order-md-1
        div.slider
          div.slider__view
            div.slide
              img.lazy(data-src='img/photos/1.jpg', alt='photo1')
            div.slide
              img.lazy(data-src='img/photos/2.jpg', alt='photo2')
            div.slide
              img.lazy(data-src='img/photos/3.jpg', alt='photo3')
            div.slide
              img.lazy(data-src='img/photos/4.jpg', alt='photo4')
            div.slide
              img.lazy(data-src='img/photos/5.jpg', alt='photo5')

          div.slider__previews.xs-hidden
            div.slider__preview
              img(src='img/photos/small/1.jpg', alt='')
            div.slider__preview
              img(src='img/photos/small/2.jpg', alt='')
            div.slider__preview
              img(src='img/photos/small/3.jpg', alt='')
            div.slider__preview
              img(src='img/photos/small/4.jpg', alt='')
            div.slider__preview
              img(src='img/photos/small/5.jpg', alt='')

          button.slider-button.prevArrow
          button.slider-button.nextArrow