section.production
  .container
    //production__title
    div.production__title.wow.fadeInUp
      h3
        | Наша продукция
      img.xs-hidden(src="img/production/wavy-line-clipart-picture-gif-png-icon-image-hd-48.png", alt="")

    .row.align-items-end
      // production-card 1
      .col-md-6
        div.production-card
          div.production-card__image
            img.lazy(data-src="img/production/production-1.jpg", alt="production-1")
          div.production-card__description
            | Гофрокороб 4-х клапанный
          div.production-card__buttons
            button.button.button-o.production-button Подробнее
            button.button.production-button Получить расчет

      //production-card 2
      .col-md-6
        div.production-card
          div.production-card__image
            img.lazy(data-src="img/production/production-2.jpg", alt="production-2")
          div.production-card__description
            | Гофролоток
          div.production-card__buttons
            button.button.button-o.production-button
              | Подробнее
            button.button.production-button
              | Получить расчет

    .row.align-items-end
      // production-card 3
      .col-md-6
        div.production-card
          div.production-card__image
            img.lazy(data-src="img/production/production-3.jpg", alt="production-3")
          div.production-card__description
            | Гофрокороб самосборный (сложная высечка)
          div.production-card__buttons
            button.button.button-o.production-button
              | Подробнее
            button.button.production-button
              | Получить расчет

      // production-card 4
      .col-md-6
        div.production-card
          div.production-card__image
            img.lazy(data-src="img/production/production-4.jpg", alt="production-4")
          div.production-card__description
            | Листовой гофрокартон
          div.production-card__buttons
            button.button.button-o.production-button
              | Подробнее
            button.button.production-button
              | Получить расчет