doctype
html(lang="ru")
	head
		include modules/head
	body
		include modules/header
		include modules/main
		include modules/features
		include modules/production
		include modules/offer
		include modules/photos
		include modules/clients
		include modules/feedback
		include modules/contacts
		include modules/footer
		include modules/popup

		script(src='js/libs.min.js')
		script(src='js/app.js')
	